.DS_Store
__pycache__/
catboost_info/
**/**.pt
**/**.ipynb
!agg_results.ipynb
**/**.npy
**/**.gz
**/**.sh
**/**.obj
**/**.png
**/**.tar
**/**.code-workspace
**/**.csv
exp/**/**/results_catboost.json
exp/**/**/results_mlp.json

configs/
data/
junk/
RF/
exps/